# Python
__pycache__/
*.pyc
venv/
InfraAuto/

# Environment files
.env

# Node
node_modules/

# OS / Editor
.vscode/
.DS_Store

# Logs
*.log

#query 
query

# Large backup archives
version1.zip
version2.zip
*.zip
